*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.user
.idea/
.settings/
*target/
._*
out/
classes/
*.iml
*.cache
.history
*.javadoc.jar
*.sources.jar
*/lib_managed/srcs
*/lib_managed/docs
.worksheet/